# Q1).A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two 
# units. A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences 
# at 5% significance level. Please state the assumptions and tests that you carried out to check validity of the assumptions

In [26]:
'''Null hypothesis(h0):There is no difference in the diameter of cutlets between two units
   Alternative hypothesis(h1):There is difference in the diameter of cutlets between two units'''
import pandas as pd
df = pd.read_csv('Cutlets.csv')
df.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [27]:
unit_A = df['Unit A']
unit_B = df['Unit B']

In [28]:
from scipy import stats
z_val, p_val = stats.ttest_ind(unit_A, unit_B)
z_val, p_val

(0.7228688704678063, 0.4722394724599501)

In [29]:
alpha = 0.05
if p_val<alpha:
    print('null hypothesis is rejected, alternative hypothesis is accepted')
else:
    print('null hypothesis is accepted, alternative hypothesis is rejected')

null hypothesis is accepted, alternative hypothesis is rejected

# **After calculating through hypothesis, we determined that there is no significant difference in the diameter of cutlets between two units.

# Q2).A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the 
# laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is 
# defined as sample collected to report dispatch.
   
# Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 
# 5% significance level.

In [31]:
'''Null hypothesis(h0):There is no difference in average Turn Around Time(TAT)
   Alternative hypothesis(h1):There is difference in average TAT'''
df2 = pd.read_csv('LabTAT.csv')
df2.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [32]:
df2.mean()

Laboratory 1    178.361583
Laboratory 2    178.902917
Laboratory 3    199.913250
Laboratory 4    163.682750
dtype: float64

In [33]:
z_val, p_val = stats.f_oneway(df2.iloc[:,0],df2.iloc[:,1],df2.iloc[:,2],df2.iloc[:,3])

In [34]:
p_val

2.1156708949992414e-57

In [35]:
alpha = 0.05
if p_val<alpha:
    print('null hypotheis is rejected, alternate hypothesis is accepted')
else:
    print('null hypothesis is accepted, alternative hypothesis is rejected')

null hypotheis is rejected, alternate hypothesis is accepted

# **After calculating through hypothesis, we determined that there is difference in average TAT among different laboratories.

# Q3).Sales of products in four different regions is tabulated for males and females.
# Find if male-female buyer rations are similar across regions.

In [37]:
df3 = pd.read_csv('BuyerRatio.csv')
df3

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [38]:
data = ([[50,142,131,70],[435,1523,1356,750]])

In [39]:
z_val, p_val,f,jk = stats.chi2_contingency(data)

In [40]:
p_val

0.6603094907091882

In [41]:
if p_val<alpha:
    print('null hypothesis is rejected, alternative hypothesis is accepted')
else:
    print('null hypothesis is accepted, alternative hypothesis is rejected')

null hypothesis is accepted, alternative hypothesis is rejected

# Q4).TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer 
# order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to 
# check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw 
# appropriate inferences

In [43]:
df4 = pd.read_csv('Costomer+OrderForm.csv')
df4.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [44]:
df4 = df4.rename(columns={'Phillippines':'phillippines','Indonesia':'indonesia','Malta':'malta','India':'India'})
df4.head()

  phillippines   indonesia       malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [45]:
data_phil = pd.DataFrame(df4['phillippines'].value_counts())
data_phil

            phillippines
Error Free           271
Defective             29

In [46]:
data_indo = pd.DataFrame(df4['indonesia'].value_counts())
data_indo

            indonesia
Error Free        267
Defective          33

In [47]:
data_malta = pd.DataFrame(df4['malta'].value_counts())
data_malta

            malta
Error Free    269
Defective      31

In [48]:
data_india = pd.DataFrame(df4['India'].value_counts())
data_india

            India
Error Free    280
Defective      20

In [49]:
import numpy as np
data = np.array([[271,267,269,280],[20,31,33,29]])
error = data[0]
defective = data[1]

In [50]:
data

array([[271, 267, 269, 280],
       [ 20,  31,  33,  29]])

In [51]:
from scipy import stats
zcal, pval, f, jk = stats.chi2_contingency(data)
zcal, pval
if pval<0.05:
    print('Reject Null Hypothesis and accept alternative hypothesis')
    print('the defective % varies by error')
else:
    print('Accept Null hypothesis and reject alternative hypothesis')
    print('the defective % doesnot varies by error')

Accept Null hypothesis and reject alternative hypothesis
the defective % doesnot varies by error

# **After calculating through hypothesis, we determined that defective % doesnot varies by centre or error.